@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 90%;
  margin: 0 auto;
  background-color: #1d1d20;
  color: #a9b7c5;
  display: flex;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #6e6e6e;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}
@media (max-width: 1208px) {
  body {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cloud-icon {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.relative:hover .cloud-icon {
  opacity: 1;
  transform: translate(-50%, 150%);
}
